


   

   <form class="well" ng-submit="submitNewUser()" ng-controller="HomeCtrl">
        <h2>Sign Up</h2>
       <label>Name</label>
       <input type="text" ng-model="User.Name" id="Name" name="Name" />
       
       <label>Email</label>
       <input type="email" ng-model="User.Email" id="Email" name="Email" />
       <label>Password</label>
       <input type="password" ng-model="User.Password" id="Password" name="Password" />
       <div>
       
       <button type="submit" class="btn">Register</button>
           </div>
   </form>


